*{
    padding: 0;
    margin: 0;
}
.body{
    background: #232324;
}


.back__btn{
    padding-top: 25px;
    padding-left: 100px;
}
/*------------------------- Table block  -----------------------------------*/
table{
    border: 2px solid rgb(0,0,0);
    border-collapse:collapse;
}

.m__table{
    position: absolute;
    top:20%;
    left: 10%;
    background: white;
}
.m__table td{
    padding: 10px;
}

